
/Memento.DataAccess.EntLib5
/Memento.DataAccess.Odbc
/Memento.DataAccess.OleDb
/Memento.Persistence
/Memento.Persistence.Commons
/Memento.Test.App
/Memento.Test.Entities
/_ReSharper.Memento
/Memento.DataAccess
/Memento.DataAccess.EntLib2