<?xml version="1.0"?>
<configuration>  
  <configSections>    
    <section name="PersistenceEntities"  type="System.Configuration.NameValueSectionHandler"/>
    <!-- EntLib2 -->
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
    <!-- Entlib5 -->
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
  </configSections>
  <!-- EntLibX -->
  <!--<dataConfiguration defaultDatabase="MEMENTO" />-->
  <connectionStrings>
    <!-- EntLibX-->
    <!--<add name="MEMENTO" connectionString="Data Source=.\sqlexpress;Initial Catalog=memento;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- OLE DB -->
    <add name="MEMENTO" connectionString="Provider=SQLOLEDB;Data Source=.\sqlexpress;Initial Catalog=memento;Integrated Security=SSPI"/>
    <!-- Odbc-->
    <!--<add name="MEMENTO" connectionString="Driver={SQL Native Client};Server=.\sqlexpress;Database=memento; Trusted_Connection=yes;" />-->
  </connectionStrings>
  <appSettings>
    <!-- EntLib2 -->
    <!--<add key="proveedorPersistencia" value="Memento.DataAccess.EntLib2.BdPersistence`1" />
    <add key="emsambladoProveedorPersistencia" value="Memento.DataAccess.EntLib2.dll" />-->
    <!-- EntLib5 -->
    <!--<add key="proveedorPersistencia" value="Memento.DataAccess.EntLib5.BdPersistence`1" />
    <add key="emsambladoProveedorPersistencia" value="Memento.DataAccess.EntLib5.dll" />-->
    <!-- OLE DB -->
    <add key="proveedorPersistencia" value="Memento.DataAccess.OleDb.BdPersistence`1" />
    <add key="emsambladoProveedorPersistencia" value="Memento.DataAccess.OleDb.dll" />
    <!-- Odbc -->
    <!--<add key="proveedorPersistencia" value="Memento.DataAccess.Odbc.BdPersistence`1" />
    <add key="emsambladoProveedorPersistencia" value="Memento.DataAccess.Odbc.dll" />-->
    <add key="esquemaBD" value="dbo" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <PersistenceEntities>
    <add key="Memento.Test.Entities.Cliente" value="Cliente" />
    <add key="Memento.Test.Entities.Factura" value="Factura" />
    <add key="Memento.Test.Entities.Linea" value="Linea" />
    <add key="Memento.Test.Entities.Producto" value="Producto" />
  </PersistenceEntities>
</configuration>