<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="memento">
      <section name="persistenceEntities" type="System.Configuration.NameValueSectionHandler" />
      <section name="providerConfig" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>    
    <!-- EntLib2 -->
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
    <!-- Entlib5 -->
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
  </configSections>
  <!-- EntLibX -->
  <!--<dataConfiguration defaultDatabase="MEMENTO" />-->
  <connectionStrings>
    <!-- EntLibX-->
    <!--<add name="MEMENTO" connectionString="Data Source=.\sqlexpress;Initial Catalog=memento;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- OLE DB -->
    <add name="MEMENTO"
         connectionString="Provider=SQLOLEDB;Data Source=.\sqlexpress;Initial Catalog=memento;Integrated Security=SSPI" />
    <!-- Odbc-->
    <!--<add name="MEMENTO" connectionString="Driver={SQL Native Client};Server=.\sqlexpress;Database=memento; Trusted_Connection=yes;" />-->
  </connectionStrings>
  <memento>
    <persistenceEntities>
      <add key="Memento.Test.Entities.Factura" value="Factura" />
      <add key="Memento.Test.Entities.Linea" value="Linea" />
      <add key="Memento.Test.Entities.Producto" value="Producto" />
      <add key="Memento.Test.Entities.DetalleLinea" value="DetalleLinea" />
      <add key="Memento.Test.Entities.ProductoProveedor" value="ProductoProveedor" />
    </persistenceEntities>
    <providerConfig>
      <!-- EntLib2 -->
      <!--<add key="persistenceProvider" value="Memento.DataAccess.EntLib2.BdPersistence`1" />
      <add key="assemblyPersistenceProvider" value="Memento.DataAccess.EntLib2.dll" />-->
      <!-- EntLib5 -->
      <!--<add key="persistenceProvider" value="Memento.DataAccess.EntLib5.BdPersistence`1" />
      <add key="assemblyPersistenceProvider" value="Memento.DataAccess.EntLib5.dll" />-->
      <!-- OLE DB -->
      <add key="persistenceProvider" value="Memento.DataAccess.OleDb.BdPersistence`1" />
      <add key="assemblyPersistenceProvider" value="Memento.DataAccess.OleDb.dll" />
      <!-- Odbc -->
      <!--<add key="persistenceProvider" value="Memento.DataAccess.Odbc.BdPersistence`1" />
      <add key="assemblyPersistenceProvider" value="Memento.DataAccess.Odbc.dll" />-->
      <!-- The query for to return the primarykey generated by database / Sentencia para recuperar el identificador generador por la BBDD -->
      <add key="databaseKeyCommand" value="SELECT  @@IDENTITY AS ID; " /> <!-- Example for SQL Server -->
    </providerConfig>
  </memento>
  <appSettings>   
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>  
</configuration>