<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spock">
      <section name="memento" type="Memento.Persistence.Commons.Config.MementoSection, Memento.Persistence.Commons" allowLocation="true"
        allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MEMENTO"
         connectionString="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;Initial Catalog=memento;Integrated Security=SSPI" />
  </connectionStrings>

  <spock>
    <memento>
      <persistenceEntities>
        <entity table="Factura" mapperClass="Memento.Test.Entities.Factura"/>
        <entity table="Linea" mapperClass="Memento.Test.Entities.Linea"/>
        <entity table="Producto" mapperClass="Memento.Test.Entities.Producto"/>
        <entity table="DetalleLinea" mapperClass="Memento.Test.Entities.DetalleLinea"/>
        <entity table="ProductoProveedor" mapperClass="Memento.Test.Entities.ProductoProveedor"/>
        <entity table="Proveedor" mapperClass="Memento.Test.Entities.Proveedor"/>
      </persistenceEntities>
      <providerConfig class="Memento.DataAccess.OleDb.BdPersistence`1" assembly="Memento.DataAccess.OleDb.dll"
                      dbKeyCommand="SELECT  @@IDENTITY AS ID; " />
    </memento>
  </spock>


  <appSettings>   
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>  
</configuration>
